.footer {
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
  grid-template-areas:
    "content contactUs"
    "followUs contactUs"
    "copyRight copyRight";
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 424px) {
  .footer {
    grid-template-areas:
      "content content"
      "contactUs followUs"
      "copyRight copyRight";
      grid-template-columns: 2fr 1fr;
  }

  .footer-content {
    grid-area: content;
    
  }
  
  .footer-followUs {
    grid-area: followUs;
    
  }
  
  .footer-contactUs {
    grid-area: contactUs;
  }
  
  .footer-copyRight {
    grid-area: copyRight;
  }
}

@media (min-width: 425px) {
  .footer {
    grid-template-areas:
      "content contactUs"
      "followUs contactUs"
      "copyRight copyRight";
    grid-template-columns: 6fr minmax(400px, 1fr);
  }
}

.footer-content {
  grid-area: content;
  margin-left: 5rem;
  margin-top: 2.5rem;
}

.footer-followUs {
  grid-area: followUs;
  margin-left: 5rem;
  margin-top: 1rem;
}

.footer-contactUs {
  grid-area: contactUs;
  margin-right: 2rem;
  margin-top: 5rem;
}

.footer-copyRight {
  grid-area: copyRight;
}

