.footer {
  display: grid;
  padding-left: 10%;
  padding-right: 10%;
  grid-template-areas:
    "content contactUs"
    "followUs contactUs"
    "copyRight copyRight";
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
@media (max-width: 424px) {
  .footer {
    grid-template-areas:
      "content content"
      "contactUs followUs"
      "copyRight copyRight";
      grid-template-columns: 4fr 1fr;
    padding-bottom: 1rem;
    padding-left: 1rem;
  padding-right: 1rem;
  }

  .footer-content {
    grid-area: content;
    
    margin-top: 1rem;
  }
  
  .footer-followUs {
    grid-area: followUs;
    margin-top: 6rem;
  }
  
  .footer-contactUs {
    grid-area: contactUs;
  }
  
  .footer-copyRight {
    grid-area: copyRight;
  }
}

@media (min-width: 425px) {
  .footer {
    grid-template-areas:
      "content contactUs"
      "followUs contactUs"
      "copyRight copyRight";
    grid-template-columns: 1fr 2fr ;
    
  }
  .footer-content {
    grid-area: content;
    
    margin-top: 2.5rem;
  }

  .footer-followUs {
    grid-area: followUs;
    
    margin-top: 7%;
  }

  .footer-contactUs {
    grid-area: contactUs;
    padding-left: 40%;
    margin-top: 12%;
  }

  .footer-copyRight {
    grid-area: copyRight;
  }

}


