@import "tailwindcss" source(none);
@source "./pages";
@source "./components";

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #B08968 !important;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #DBB985 !important;
}
/*淺色模式*/
[data-theme="light"] {
  body{
    background-color: #FFFEFD;
  }

  .header{
    background-color: #fff;
    color: #DBB985;
  }

  .footer{
    background-color: #F8F6F4;
    color: #7D6E5B;
  }

  .footer-copyRight{
    background-color: #DBB985;
    color: #FFFFFF;
  }

  .drawer-bg {
    background-color: #fff;
  }

  .c-text {
    color: #000000;
  }

  .custom-border {
    border: 1px solid #DBB985;
  }

  .pbox{
    background-color: #fff;
    color: #000000;
  }

  .content{
    background-color: #FFFEFD;
    color: #000000;
  }

  .btext{
    color: #ffffff;
  }

  .bottom-border {
    border-bottom: 2px solid #DBB985;
  }

  .ant-input,
  .ant-input-affix-wrapper {
    border-color: #DBB985 !important;
  }

  /* 滑鼠滑過 */
  .ant-input:hover,
  .ant-input-affix-wrapper:hover {
    border-color: #DBB985 !important;
  }

  /* 聚焦時 */
  .ant-input:focus,
  .ant-input-affix-wrapper:focus {
    border-color: #DBB985 !important;
    box-shadow: 0 0 0 2px rgba(219, 185, 133, 0.3) !important;
  }

  ant-checkbox-input:focus , .ant-checkbox-inner {
      border-color: #DBB985 !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #DBB985 !important;
      border-color: #DBB985 !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner::after {
      border-color: #ffffff !important;
    }
    .login-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      padding: 16px;
    }

   .login-wrapper .ant-form-item-label > label {
    color: #7D6E5B;
  }

  .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .login-error {
    margin-top: 16px;
    color: #d93025;
    font-size: 14px;
  }

  .not-member-text {
    text-align: left;
    font-size: 14px;
    color: #888;
    margin-bottom: 8px;
  }

  .register-section {
    text-align: center;
  }
  .button1:hover {
    background-color: #DBB985 !important;
    color: #FFFFFF !important;
    border-color: #DBB985 !important;
    filter: brightness(93%);
  }
  .button1{
    background-color: #DBB985;
    color: #FFFFFF;
    border: 1px solid #DBB985;
  }
  
  .button2{
    background-color: #FFFFFF;
    color: #DBB985;
    border: 1px solid #DBB985;
  }

  .button2:hover {
    background-color: #FFFFFF!important;
    color: #DBB985!important;
    border: 1px solid #DBB985!important;
    filter: brightness(93%);
  }

  .word1{
    color: #7D6E5B;
  }
  .word2{
    color: #7D6E5B;
  }

  .title{
    color: #DBB985;
    text-align: center;
    margin-bottom: 18px;
  }

  /* 一般狀態下的顏色 */
  .login-wrapper .ant-checkbox-wrapper a {
    color: #DBB985;
    
  }

  /* 滑鼠懸停時 */
  .login-wrapper .ant-checkbox-wrapper a:hover {
    color: #B28F62;
  }

  /* Tooltip 圖示顏色 */
  .ant-form-item-label .anticon {
    color: #7D6E5B !important; /* 圖示顏色 */
  }

  /* Tooltip 提示框的背景與文字 */
  .ant-tooltip-inner {
    background-color: #DBB985 !important; /* 背景色 */
    color: #fff !important; /* 文字顏色 */
    font-size: 14px;
  }

  /* Tooltip 箭頭顏色 */
  .ant-tooltip-arrow::before {
    background-color: #DBB985 !important;
  }

}

/*深色模式*/
[data-theme="dark"] {
  body{
    background-color: #1E1E1E;
  }

  .header{
    background-color: #000000;
    color: #D0BFAA;
  }

  .footer{
    background-color: #121212;
    color: #D0BFAA;
  }

  .footer-copyRight{
    background-color: #000000;
    color: #F5F5F5;
  }

  .drawer-bg {
    background-color: #000000;
  }

  .c-text {
    color: #F5F5F5;
  }

  .custom-border {
    border: 1px solid #B08968;
  }

  .pbox{
    background-color: #2F2F2F;
    color: #F5F5F5;
  }

  .content{
    background-color: #1E1E1E;
    color: #F5F5F5;
  }

  .btext{
    color: #F5F5F5;
  }

  .bottom-border {
    border-bottom: 2px solid #B08968;
  }
}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 16px;
  }

   .login-wrapper .ant-form-item-label > label {
    color: #F5F5F5;
  }

  .login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  .login-error {
    margin-top: 16px;
    color: #d93025;
    font-size: 14px;
  }

  .not-member-text {
    text-align: left;
    font-size: 14px;
    color: #D0BFAA;
    margin-bottom: 8px;
  }

  .register-section {
    text-align: center;
  }

  .button1{
    background-color: #B08968;
    color: #1E1E1E;
    border: 1px solid #B08968;
  }
  .button1:hover {
    background-color: #B08968!important;
    color: #1E1E1E!important;
    border: 1px solid #B08968!important;
    filter: brightness(93%);
  }
  .button2{
    background-color: #1E1E1E;
    color: #B08968;
    border: 1px solid #B08968;
  }
  .button2:hover {
    background-color: #1E1E1E!important;
    color: #B08968!important;
    border: 1px solid #B08968!important;
    filter: brightness(93%);
  }

  .word1{
    color: #D0BFAA;
  }
  .word2{
    color: #F5F5F5;
  }

  .title{
    color: #B08968;
    text-align: center;
    margin-bottom: 18px;
  }

   .ant-input,
    .ant-input-affix-wrapper {
      border-color: #B08968 !important;
    }

    /* 滑鼠滑過 */
    .ant-input:hover,
    .ant-input-affix-wrapper:hover {
      border-color: #B08968 !important;
    }

    /* 聚焦時 */
    .ant-input:focus,
    .ant-input-affix-wrapper:focus {
      border-color: #B08968 !important;
      box-shadow: 0 0 0 2px rgba(219, 185, 133, 0.3) !important;
    }


  .ant-checkbox-input:focus , .ant-checkbox-inner {
    border-color: #B08968 !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #B08968 !important;
    border-color: #B08968 !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner::after {
    border-color: #1E1E1E !important;
  }

  /* 一般狀態下的顏色 */
  .login-wrapper .ant-checkbox-wrapper a {
    color: #D0BFAA;
    
  }

  /* 滑鼠懸停時 */
  .login-wrapper .ant-checkbox-wrapper a:hover {
    color: #B08968;
  }

  /* Tooltip 圖示顏色 */
  .ant-form-item-label .anticon {
    color: #F5F5F5 !important; /* 圖示顏色 */
  }

  /* Tooltip 提示框的背景與文字 */
  .ant-tooltip-inner {
    background-color: #B08968 !important; /* 背景色 */
    color: #1E1E1E !important; /* 文字顏色 */
    font-size: 14px;
  }

  /* Tooltip 箭頭顏色 */
  .ant-tooltip-arrow::before {
    background-color: #B08968 !important;
  }




html,
body {
  font-size: 16px;
  line-height: 1.6;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

