@import "tailwindcss" source(none);
@source "./pages";
@source "./components";

@plugin "daisyui" {
  themes: light, dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #B08968;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #DBB985;
}
/*淺色模式*/
[data-theme="light"] {
  body{
    background-color: #FFFEFD;
  }

  .header{
    background-color: #fff;
    color: #DBB985;
  }

  .footer{
    background-color: #F8F6F4;
    color: #7D6E5B;
  }

  .footer-copyRight{
    background-color: #DBB985;
    color: #FFFFFF;
  }

  .drawer-bg {
    background-color: #fff;
  }

  .c-text {
    color: #000000;
  }

  .custom-border {
    border: 1px solid #DBB985;
  }

  .pbox{
    background-color: #fff;
    color: #000000;
  }

  .content{
    background-color: #FFFEFD;
    color: #000000;
  }

  .btext{
    color: #ffffff;
  }

  .bottom-border {
    border-bottom: 2px solid #DBB985;
  }
  
  
}

/*深色模式*/
[data-theme="dark"] {
  body{
    background-color: #1E1E1E;
  }

  .header{
    background-color: #000000;
    color: #D0BFAA;
  }

  .footer{
    background-color: #121212;
    color: #D0BFAA;
  }

  .footer-copyRight{
    background-color: #000000;
    color: #F5F5F5;
  }

  .drawer-bg {
    background-color: #000000;
  }

  .c-text {
    color: #F5F5F5;
  }

  .custom-border {
    border: 1px solid #B08968;
  }

  .pbox{
    background-color: #2F2F2F;
    color: #F5F5F5;
  }

  .content{
    background-color: #1E1E1E;
    color: #F5F5F5;
  }

  .btext{
    color: #F5F5F5;
  }

  .bottom-border {
    border-bottom: 2px solid #B08968;
  }
}


html,
body {
  font-size: 16px;
  line-height: 1.6;
}

.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-areas: 
    'header'
    'content'
    'footer'
  ;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

